
 .header{
    color: white;
    font-size: 8px;
    font-family: 'Georgia', Times 'Times New Roman', Times, serif;
    text-align: right;
    padding:10px;
    background-color: rgb(127, 172, 167);

    
}
img{
    float: left;
    width: 180px;
    height: 200px;

  
}
.footer{
    padding:10px;
    color: white;
    text-align: center;
    background-color: rgb(127, 172, 167);
    font-size: 16px;
    border-color: #dddddd;
    
}
h2{
    font-size: 16px;
    float:left;
    color: black
}
 .aboutme{
     float:right;
     font-family: 'Times New Roman', Times, serif
 }
.me{
    float: right;
}
p{
    float: left;
    color: #777777; 
    size:960px;
    
}

.section{
    color:#ffff;
    height:350px;
    width:960px;

}

